<div id="lesson-menu">
    <ul>
        <li class="menu-li"><a class="menu-link" href="/user/admin">User Overview</a></li>
        <li class="menu-li"><a class="menu-link" href="/lessons/newLesson"></a>New Lesson</li>
        <li class="menu-li"><a class="menu-link" href="/qa">QA Central</a></li>
        <li class="menu-li"><a class="menu-link" href="/user/logout">Log Out</a></li>
        <li class="menu-li"><a class="menu-link" href=""></a></li>
    </ul>
</div>