<h1>{{title}}</h1>

<form id="login-form" method="POST" action="/user/login" class="form">
    <div>
        <label for="emailAddressInput">Email Address:</label>
        <input type="email" name="emailAddressInput" id="emailAddressInput" required>
    </div>
    <div>
        <label for="passwordInput">Password:</label>
        <input type="password" name="passwordInput" id="passwordInput" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
<ul id="errors" class="errors">
</ul>
<script src="/public/js/form.js"></script>
<footer>
    <a href="/user/register">Click here to register!</a>
</footer>