<div class="container">
    <!-- User photo and info -->
    <div class="user-photo">
        <img src="path-to-user-image.jpg" alt="User Photo" width="150" height="150">
        <h3>{{user.firstName}} {{user.lastName}}</h3>
        <p>{{user.emailAddress}}</p>
    </div>

    <!-- Profile Settings Section -->
    <div class="profile-section">
        <h2>{{titile}}</h2>
        <form action="#" method="post">
            <div class="left-column">
                <div class="form-group">
                    <label for="firstName">Name</label>
                    <input type="text" id="firstName" name="firstName">
                </div>
                <!-- Additional form groups for other fields -->
            </div>
            <div class="right-column">
                <div class="form-group">
                    <label for="experience">Experience in Designing</label>
                    <textarea id="experience" name="experience"></textarea>
                </div>
                <!-- Additional form groups for other fields -->
            </div>
            <div class="submit-container">
                <button type="submit" class="button">Save Profile</button>
            </div>
        </form>
    </div>
</div>