.errors li, .errors, #error {
	color: #ff0000;
	text-align: center;
}

.form{
	background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 10px;
	justify-content: center;
    display: flex; 
    align-items: center;
}

.form-errors {
    margin-bottom: 0px;
	justify-content: center;
    display: flex; 
    align-items: center;
}

form label {
    margin-right: 5px;
}

a, p, footer, h1 {
	text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.form-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin-top: 5px;
}