<h1>{{title}}</h1>

<form id="password-form" method="POST" action="/user/password" class="form">
    <div>
        <label for="currentPasswordInput">Current Password:</label>
        <input type="password" name="currentPasswordInput" id="currentPasswordInput" required>
    </div>
    <div>
        <label for="newPasswordInput">New Password:</label>
        <input type="password" name="newPasswordInput" id="newPasswordInput" required>
    </div>
    <div>
        <label for="confirmPasswordInput">Confirm New Password:</label>
        <input type="password" name="confirmPasswordInput" id="confirmPasswordInput" required>
    </div>
    <div>
        <button type="submit">Change Password</button>
    </div>
    <a class="form-footer" href="/user/user">Go back to Overview</a>
    <div class="form-errors">
        <ul id="errors" class="errors">
            {{#if hasErrors}}
                {{#each errors}}
                <li>
                    {{this}}
                </li>
                {{/each}}
            {{/if}}
        </ul>
    </div>
</form>