<section id="lessons">
  <h2>{{pageTitle}}</h2>
  
  <ul>
    {{#each lessons}}
    <li style="text-decoration: none" ;>
      <h3><a href="lesson/{{id}}">{{this.title}}</a></h3>
      {{!-- <button type="button" onclick="location.href='/lesson/{{id}}'">Go To Lesson</button> --}}
    </li>
    {{/each}}
  </ul>
</section>