<section id="lessons">
  <h2>Lessons</h2>
  <ul>
    {{#each lessons}}
    <li>
      <h3>{{this.lessonName}}</h3>

      <button type="button" onclick="location.href='/lesson/details'">Go To {{this.lessonName}}</button>
    </li>
    {{/each}}
  </ul>
</section>