<section class="above-fold">
    <div id="fold-content" class=" pad">
        <div class="inner-content">
            <h1>No More Learning In Isolation</h1>
            <h2>Join Our Learning Community <span class="call-to-action"><a class="register-btn" href="/user/register">Register Now!</a></span></h2>
        </div>
        <img class="home-pic" alt="learning" src="https://cdn.create.vista.com/api/media/small/313541388/stock-photo-handsome-hispanic-programming-professional-praying-luck-while-sitting-hands-clasped"/>
    </div>
</section>
<section class="home-content border-top bg-one">
    <div class="pad sub-content">
        <div class="content-box-right">
            <h2>Learn With A Worldwide Community</h2>
            <ul class="content-text">
                <li>
                    Join our community of over 100 million learners today and start your journey towards a brighter future!
                    Strengthen your personal development skills through education, mentorship, and professional advice.
                </li>
                <li>
                    If you’re looking to increase your skills, you’ve come to the right place! Interact with various insights from peers and experts!
                </li>
            </ul>
        </div>
        <img class="c-pic" alt="community" src="https://img.freepik.com/free-vector/flat-design-business-communication-illustration_23-2149153089.jpg" />
        <!-- Image by <a href="https://www.freepik.com/free-vector/flat-design-business-communication-illustration_19948943.htm#query=online%20learning%20community&position=15&from_view=search&track=ais&uuid=f1a08ed2-b371-4d4b-b24e-e003f3d797a3">Freepik</a> -->

</section>
<section class="home-content bg-two">
    <div class="pad sub-content text-right">       
        <div class="content-box-left">
            <h2>Community Build Lessons - For You By You </h2>
            <ul class="content-text">
                <li>Take courses created by professors and their TA's, and seasoned professionals!</li>
                <li>Lessons are rated by the community and only the highest quality lessons remains.</li>
            </ul>
        </div>
        <img class="lesson-pic" alt="community lessons" src="https://img.freepik.com/free-vector/hand-drawn-online-tutor-illustration_52683-146749.jpg?" />
<!-- <a href="https://www.freepik.com/free-vector/hand-drawn-online-tutor-illustration_84406320.htm#query=learning%20support&position=20&from_view=search&track=ais&uuid=41be5c37-e34a-4173-99a4-1967f66bd66e">Image by pikisuperstar</a> on Freepik-->
</section>
<section class="home-content">
    <div class="pad sub-content">
        <div class="content-box-right">
            <h2>Get Answers Quickly By Experts</h2>
            <ul class="content-text">
                <li>Get answers and assistance quickly!</li>
                <li>The built-in QA is there to help you find answers quickly from the commnity.</li>
                <li></li>
            </ul>
        </div>
        <img class="qa-pic" alt="community support" src="https://img.freepik.com/free-vector/online-video-conference-business-characters_107791-10455.jpg" />
        <!-- <a href="https://www.freepik.com/free-vector/online-video-conference-business-characters_23859584.htm#page=14&query=online%20teaching&position=32&from_view=search&track=ais&uuid=304abba3-c5e9-4ec3-a61e-e441bc6c51b9">Image by upklyak</a> on Freepik -->
        
    </div>
</section>
<section class="home-content">
    <div class="pad sub-content">

    </div>
</section>

