<h1>Log in</h1>

<p class="form-guide">Enter your email address and password to login</p>

<form method="POST" id="login-form">
    <div>
        <label class="email-label" for="emailAddressInput">
            <span class="label-text">Email</span>
        </label>

        <input class="email-input" type="email" name="emailAddressInput" id="emailAddressInput"
            placeholder="Enter your email address." />

        <label class="password-label" for="passwordInput">
            <span class="label-text">Password</span>
        </label>

        <input class="password-input" type="password" name="passwordInput" id="passwordInput"
            placeholder="Enter your passowrd." />

        <button type="submit">Log In</button>

    </div>

</form>